.webcam-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 240px;
  border: 3px solid #11354D;
  border-radius: 10px;
  overflow: hidden;
  background-color: black;
}

.webcam-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
