version: '3.9'

services:
  backend:
    image: rock-paper-scissors-backend:0.0.0
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    environment:
      - PYTHONUNBUFFERED=1

  frontend:
    image: rock-paper-scissors-frontend:0.0.0
    ports:
      - "3000:80"
    depends_on:
      - backend
