.App {
  text-align: center;
  background-image: url('../public/assets/fond5.jpg');
  background-size: cover;           /* Étire ou réduit l'image pour remplir */
  background-position: center;      /* Centre l'image */
  background-repeat: no-repeat;     /* Ne pas répéter l'image */
  min-height: 100vh;                /* S'assurer que le fond couvre toute la hauteur */
  font-family: system-ui;
}


.App-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 150px;
  /*background-color: #DDECEE;*/
  padding-bottom: 20px;
  padding-top: 200px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px;
}

.App-ai, .App-player {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-versus{

}

.App-title{
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  padding-bottom: 11px;
  background-color: #11354D;
  color: white;
}

.App-title-button {
    width: 70px;
    height: 70px;
    font-weight: bold;
    background-color: #F6EBDB;
    border-radius: 10px;
    color: #A91E23;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
    border: none;
}

.App-title-button:hover {
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 1); /* 👈 ombrage au survol */
}


/* Conteneur vidéo/IA */
.video-container, .ai-container {
  width: 320px;  /* Largeur fixe pour les deux */
  height: 240px; /* Hauteur fixe pour les deux */
  background-color: black;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container video, .ai-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.emoji-overlay {
  width: 60px;          /* Taille du carré */
  height: 60px;
  background-color: white;  /* Fond blanc */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;      /* Taille de l’emoji */
  border-radius: 10px;  /* Coins arrondis */
  margin-top: 10px;     /* Petit espace entre la vidéo et le carré */
  border: 2px solid #11354D; /* Bordure pour mieux ressortir */
}
